name: Docker Build

on:
  workflow_dispatch:
  workflow_call:

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to DockerHub
        uses: docker/login-action@v1 
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Checkout action repo
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          ref: main
          repository: firebolt-db/firebolt-cli
          path: repo_path

      - name: Assign release version from version.properties to Env variable
        id: tag_generation
        run: |
           cd repo_path
           NEW_TAG=$(python -c 'from src.firebolt_cli.__init__ import __version__; print (__version__)')
           echo "::set-output name=docker_tags::ghcr.io/firebolt-db/firebolt-cli:$NEW_TAG, ghcr.io/firebolt-db/firebolt-cli:latest"
        shell: bash

      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: ${{ steps.tag_generation.outputs.docker_tags }}
